<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-tofit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Get a Sound test</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="./assets/css/app.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
</head>
<body>

  <div class="main" id="app">
    <div class="jumbotron jumbotron-fluid bg-white mt-md-4">
      <div class="container">
        <h1 class="display-5 font-weight-bold">Parlez-nous de votre cible</h1>
      </div>
    </div>

    <div class="bg-light p-1 pt-3">

      <!-- _______ CHOIX CIBLE _______ -->
      <div class="container pt-md-5 pt-3 pb-3">
        <h2 class="text-secondary">Cible</h2>
        <div class="row">

          <badge-primary
            :title="'b2b' | uppercase"
            :class="target == 'b2b' ? 'border-primary' : ''"
            @is-selected='changeCible($event)'>
          </badge-primary>

          <badge-primary
            :title="'b2c' | uppercase"
            :class="target == 'b2c' ? 'border-primary' : ''"
            @is-selected='changeCible($event)'>
          </badge-primary>

        </div>
      </div>

      <!-- _______ CIBLE LIST _______ -->
      <div class="container pt-md-5 pt-3 pb-3" v-show='target'>
        <h2 class="text-secondary">{{ target | uppercase }}</h2>

          <transition-group name="fade" mode='out-in' tag="div" class="row">
            <badge v-show='target == "b2c"'
              v-for='client in clientTarget'
              :key='client.title'
              :title='client.title | capitalize'
              @is-selected='updateTargetList($event)'>
            </badge>

            <badge v-show='target == "b2b"'
              v-for='business in businessTarget'
              :key='business.title'
              :title='business.title | capitalize'
              @is-selected='updateTargetList($event)'>
            </badge>
          </transition-group>

      </div>

      <!-- _______ INFORMATIONS _______ -->
      <div class="container pt-md-5 pb-sm-5">
        <h2 class="text-secondary">Plus d'informations</h2>
        <p class="text-right mb-0" :class='wordsNegatif ? "text-danger" : "text-primary"'>{{ wordsTotal }}</p>
        <textarea class="w-100 row" cols="30" rows="4"  v-model='information'>{{ information }}</textarea>
      </div>


    </div>

  </div>

  <script>
    var supportsES6 = function() {
      try {
        new Function("(a = 0) => a")
        return true
      }
      catch (err) {
        return false
      }
    }();

    var script = document.createElement("script")
    script.src = supportsES6 ? "./assets/js/app.js" : "./assets/js/bundle.js"
    document.head.appendChild(script)
  </script>
</body>
</html>